*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

.heading{
    font-size: 20px;
    padding: 15px;
    color: #000000;

}

.header{
    display: flex;
    justify-content: space-between;
    
    width: auto;
    background-color: #fff;
    
    box-shadow: -1px 4px 20px 14px rgba(93, 90, 90, 0.2);
    color: black;
    font-weight: bold;
    overflow-y: hidden;
    


}
.nav-items{   
    padding: 10px ;
    width: auto;
}

.nav-items>ul{
    display:flex;
    list-style-type: none;
    
}
.nav-items>ul>li{
    padding: 10px;
}

.res-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.card{
    width: 200px;
    max-width: 500px;
    border-radius: 5px;
    box-shadow:  4px 10px 14px rgba(93, 90, 90, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    color: darkslategray;
    margin-top: 50px;
}

.card > img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card > span{
    display: flex;
    justify-content: space-evenly;
    
}

.card > span > h4{
    text-align: center;
  
}

.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(61, 194, 46);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
    width: 25px;
    height: 25px;
}


.search-container {
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
    position: relative;
  }

  .search-container .search-input {
    width: 40%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 20px;
    border: 1px solid #aabcca;
    border-right: 0;
    color: #000000;
    outline: none;
  }

  .search-container .search-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(234, 227, 217);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .search-container .search-btn:hover {
    background-color: #797d7b;
  }

  .shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    
    
    padding: 10px;
    margin: 20px;
    justify-content: center;
   
  }
  .shimmer-card {
    flex-basis: 250px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-color: #dfdcd8;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
    
  }
  .shimmer-title {
    width: 40%;
    margin-top: 10px;
  }
  .shimmer-tags {
    width: 80%;
    margin-top: 4px;
  }
  .shimmer-details {
    width: 100%;
    margin-top: 18px;
  }
  .shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
  }
  
  /*Animation to Shimmer Component Cards */
  .stroke {
    height: 15px;
    background: #d1cccc;
  }
  /* .animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
  } */
  @keyframes shimmer {
    from {
      background-position: -1000px 0;
    }
    to {
      background-position: 1000px 0;
    }
  }
  


  /*About page*/

  .about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: disc;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  p {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .about-page {
      padding: 10px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  
    ul {
      font-size: 14px;
    }
  }
  
  /*Restaurant Menu*/

  .restaurant-menu{
    width: auto;
    margin: 50px 200px 0px 200px;
    display: flex;
    
   
    
  }

  @media screen and (max-width: 768px) {
    .restaurant-menu{
      width: auto;
      margin: 50px 100px 0px 100px;
    }
  
  }  
  .restaurant-description{
    height:200px ;
    display: flex;
    
    
    
    color: #282c3f;
  }
  .restaurant-image{
    height: 170px;
    width: 200px;
    border-radius: 5px;

    padding-right: 15px;
  }
  .restaurant-description-details{
    display: flex;
    flex-direction: column;
    
  }

  .restaurant-name{
    font-size: 30px;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 15px;
   
  }

  .restaurant-cuisine{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    
  }
  .restaurant-area{
    font-size: 16px;
    font-weight: 300;
  
  }

  @media screen and (max-width: 768px) {
    .restaurant-image{
      height: 120px;
      width: 150px;
      padding-right: 10px;
    }
    .restaurant-name{
      font-size: 24px;
      font-weight: 600;
     
    }
  
  }  
